[defaults]
log_path=logs/ansible.log
nocows = True
# ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid}
# DEFAULT_MANAGED_STR = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid}
roles_path = ./roles:/etc/ansible/roles
inventory = inventory.yaml
become = true
callback_result_format = yaml
