{# Jinja2 template docs: https://jinja.palletsprojects.com/en/latest/templates #}
{{ ansible_managed | comment }}
{{ "Caddy docs: https://caddyserver.com/docs" | comment }}

{% if "https" in item.scheme | default("https://") %}

{{ item.scheme|default("https://") }}{{ item.vhostname|default(item.vhost) }}, {{ item.scheme|default("https://") }}{{ item.vhostname|default(item.vhost) }}.{{ external_domain }} {

{% if item.target is defined %}
    reverse_proxy {{ item.target }} {
    }
{% endif %}
  {{ item.instruction|default("") }}
}
{% endif %}

http://{{ item.vhostname|default(item.vhost) }}, http://{{ item.vhostname|default(item.vhost) }}.{{ lan.domain }} {

{% if item.target is defined %}
    reverse_proxy {{ item.target }} {
    }
{% endif %}
  {{ item.instruction|default("") }}
}
