{{ ansible_managed | comment }}
{% if item.name == "_compose_root" %}

{% for k,v in COMPOSE_ROOT_VARS|items %}
{{ k }}={{ v }}
{% endfor %}

{% else %}

{% for k,v in item.compose_vars|items %}
{{ k }}={{ v }}
{% endfor %}

{% endif %}
