{{ ansible_managed | comment }}
# https://nsd.docs.nlnetlabs.nl

server:
    identity: {{ nsd.identity|default('rhu') }}
    # ip-address: 0.0.0.0
    port: {{ nsd_port|default(5353) }}
    log-time-ascii: yes
    log-time-iso: yes
    hide-version: no
    ip4-only: yes
    # server-count: {{ nsd.server_count | default(ansible_facts['processor_cores']) }}

remote-control:
    control-enable: yes
    control-interface: lo

include: "/etc/nsd/nsd.conf.d/*.conf"
